.board {
    padding: 1px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snake {
    display: flex;
    background: #52566f;
    border-radius: 60px;
}