.board {
    display: flex;
    padding: 1px;
    height: 500px;
    border: 10px solid #9f4acf;
    border-radius: 1px;
}

.snake {
    display: flex;
    background: #52566f;
    border-radius: 60px;
}